.title {
  color: red;
}
.first {
  background-color: gray;
}
.second {
  background-color: green;
}
.third {
  background-color: yellow;
}
.fourth {
  background-color: red;
}
.form_h1 {
  text-align: center;
}
body {
  margin: 0px;
  padding: 0px;
}
.main-header {
  margin: 0px;
  background-color: #f8f9fa;
}

form.upload {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  background-color: #ffcc00;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.avatar {
  width: 300px;
  height: 300px;
}
h4 {
  margin-left: 20px;
  color: brown;
}
main {
  padding: 20px;
}

h2.distribution {
  text-align: center;
}
p.distribution{
  text-align: center;
}
img.room {
  width: 100%
}